
/* 実行環境 */


/* item new,show(サインイン)--------------------------------------------- */
.intro_content{
}

.item{
  width: 80%;
  height: 300px;
  background-color: #eeeeee;
  border: 1px solid;
  border-radius: 15px;

  margin: 0 auto;
  padding: 10px;

}

.search_content{
  text-align: center;
}

.item_form{
  margin: 70px;
  display: flex;
  justify-content: center;
}

#search_word{
  width: 40vw;
  height: 45px;
  font-size: 20px;
  padding-left: 10px;
}

#submit{
  width: 8vw;
  height: 45px;
  font-size: 20px;
}

.flash_msg{
  background-color: #ea352d;
  color: #ffffff;
  font-size: 20px;
  margin: auto;
}



.search_result{
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.search_word{
  width: 20%;
  font-size: 30px;
  margin: 0 60px;
  position: relative;
  text-align: center;
}


.favorite_icon{
  display: flex;
  align-items: center;

}

.favorite_icon_image{
  height: 70px;
}

.reminder_icon{
  display: flex;
  align-items: center;
}

.reminder_icon_image{
  height: 70px;
}



.favorite_register{
  display: flex;
  align-items: center;
  /* margin-bottom: 5px; */
}

.reminder_register{
  display: flex;
  align-items: center;
  /* margin-bottom: 5px; */
}




.btn{
  padding: 10px;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 20px;
  color: #eeeeee;
  border-radius: 5px;
  text-decoration: none;
}

.favorite_new_btn{
  background-color: #F8A503;
}

.favorite_delete_btn{
  background-color: #F8A503;
  /* opacity: 0.5; */
}

.favorite_set_btn{
  background-color: #F8A503;
}


.reminder_new_btn{
  background-color: #7AA5D2;
}


.reminder_delete_btn{
  background-color: #7AA5D2;
  /* opacity: 0.5; */
}


.reminder_set_btn{
  background-color: #7AA5D2;
  /* opacity: 0.6; */
}

.reminder_content{
  background-color: #D8F5FF;
  font-size: 15px;
  text-align: left;
  border-radius: 5px;
  padding: 3px 5px ;
}








.company_name{
  height: 30%;
  margin: 0px auto;
}

.company_name > img {
  height: 100%;
}

.item_content{
  height: 70%;
  display: flex;
  justify-content: center;
}

.item_image{
  width: 15%;
  margin: 20px 30px;
  text-align: center;
}

#result_Image{
  width: 100%;
}


.item_body{
  width: 70%;
  /* font-size: 1.2vw; */
  font-size: 22px;
  padding: auto 0;
  /* background-color: #ea352d; */
}

.item_body > p {
  width: 100%;
  margin-bottom: 10px;
  line-height: 30px;
}

#result_ItemUrl{
  text-decoration: none;
  color: #7AA5D2;
}

.hidden{
  display: none;
}

.item_stock_judge{
  width: 15%;
  display: flex;
  align-items: center;
}

.judge_exist{
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  border-radius: 20px;
  background-color: #A8D93D;
  color: #ffffff;
}



.judge_none{
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #ea352d;
  color: #ffffff;
}

.judge_title{
  font-size: 1.8vw;
}

.judge_stock{
  font-size: 1.3vw;
}











/* item new,show(サインアウト)--------------------------------------------- */

.intro_content{
  background-color: #E9EEF6;;
}

.intro_main{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  
}

.explain{
  width: 70%;
  text-align: center;
}

.explain_title{
  width: 30%;
  height: 18%;
  margin: 100px auto 100px auto;
  padding: 5px 0;
  border-radius: 10px;
  font-size: 2vw;
  font-weight: bold;
  color: #ffffff;
  background-color: #11376B;
}

.explain_list{
  font-size: 35px;
  margin-bottom: 100px;
}

.explain_list_title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 30px 0;
  font-size: 1.8vw;
  
}

.number{
  padding: 0px 18px;
  color: #ffffff;
  background-color: #11376B;
}

.service_title{
  padding: 0 20px;
  background-color: #ffffff;
  box-shadow: 10px 10px 15px -5px gray;
}

.explain_content{
  display: flex;
  height: 300px;
}

.explain_list_word{
  width: 50%;
  font-size: 1.6vw;
  display: flex;
  text-align: center;
  background-color: #ffffff;
}

.explain_list_word > p{
  margin: auto;
}


.explain_list_image{
  width: 50%;
  /* width: 0.5vw; */
  display: flex;
  align-items: center;
  justify-content: center;
}


.back_color_white{
  background-color: #ffffff;
  border-left: 1px solid #eeeeee;
}

.back_color_blue{
  background-color: #D8F5FF;
}



.image1{
  height: 60%;
  margin: 0 10px;
}

.image2{
  height: 90%;

}


.image3{
  height: 100%;

}

.intro_sub{
  display: flex;
  justify-content: center;
}

.sites{
  margin: 100px 0px;
  border: 3px solid #11376B;
  border-radius: 10px;
  background-color: #ffffff;
  width: 70%;
  text-align: center;
  height: 300px;
  position: relative;
}

.sites_title{
  width: 38%;
  /* height: 18%; */
  padding: 5px 0;
  border-radius: 10px;
  font-size: 1.8vw;
  font-weight: bold;
  color: #ffffff;
  background-color: #11376B;
  position: absolute;
  top: -33px;
  left: 31%;
}

.site_lists{
  display: flex;
  justify-content: center;
  align-items: center;


}

.site_list{
  margin: 80px 0px;
}

.site_logo{
  width: 300px;
  padding: 20px;
  border-radius: 10px;
}




.intro_user_register{
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.user_register{
  padding: 50px;
  border-radius: 10px;
}

.user_register_btn{
  text-align: center;
  margin: 150px 0px;
}


.register_btn{
  text-decoration: none;
  background-color: #ea352d;
  color: #ffffff;
  padding: 50px;
  border-radius: 10px;
}

.item_show_footer{
  margin-top: 500px;
}

/* viewport------------------------------------------------------------------------------------------------------------------------ */

/* タブレット表示サイズ（PC画面 半分） */
@media (max-width: 1000px) {


.search_word{
  width: 100%;
}



.explain{
  width: 90%;

}

.explain_title{
  width: 100%;
}


.explain_content{
  height: 100px;
}

.explain_list_title{
  font-size: 3vw;
}

.explain_list_image{
  display: none;
}

.explain_list_word {
  width: 100%;
  font-size: 3vw;
}


.search_result{
  display: block;
  /* align-items: center; */
  width: 100%;
  margin-bottom: 20px;
}


.favorite_register{
  margin-left: 40px;
}

.reminder_register{
  margin-left: 40px;
}


.item_body{
  font-size: 1em;
}

}


/* スマホ表示サイズ */
@media (max-width: 500px) {
  

  

}