
/* 実行環境 */


/* item new,show(サインイン)--------------------------------------------- */
.intro_content{
  /* margin-bottom: 600px; */
}

.item{
  width: 80%;
  height: 300px;
  background-color: #eeeeee;
  border: 1px solid;
  border-radius: 15px;

  margin: 0 auto;
  padding: 10px;

}

.search_content{
  /* padding-bottom: 600px; */
  /* background-color: #ffffff; */
}

.item_form{
  margin: 70px;
  display: flex;
  justify-content: center;
}

#search_word{
  width: 40vw;
  height: 45px;
  font-size: 20px;
  padding-left: 10px;
}

#submit{
  width: 8vw;
  height: 45px;
  font-size: 20px;
}



.search_result{
  display: flex;
  align-items: center;
  
  /* background-color: #7AA5D2; */
}

.search_word{
  font-size: 30px;
  margin-left: 30px;
  margin-right: 10px;
  padding: 30px 0px;
  /* background-color: palegreen; */
}


.favorite_icon{
  /* background-color: #11376B; */
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}

.favorite_icon_image{
  /* margin: auto 0px; */
  height: 70px;
}

.reminder_icon{
  /* background-color: #11376B; */
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.reminder_icon_image{
  /* margin: auto 0px; */
  height: 70px;
}



.favorite_register{
  display: flex;
  align-items: center;


  /* background-color: palevioletred; */
}

.reminder_register{
  display: flex;
  align-items: center;
  /* background-color: peru; */
}




.btn{
  padding: 10px;
  margin-left: 10px;
  margin-right: 30px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #eeeeee;
  border-radius: 5px;
  text-decoration: none;

  /* background-color: #A8D93D; */
}

.favorite_new_btn{
  background-color: #F8A503;
}

.favorite_delete_btn{
  background-color: #eeeeee;
}

.favorite_set_btn{
  background-color: #F8A503;
  /* opacity: 0.6; */
}


.reminder_new_btn{
  background-color: #7AA5D2;
}


.reminder_delete_btn{
  background-color: #eeeeee;
}


.reminder_set_btn{
  background-color: #7AA5D2;
  /* opacity: 0.6; */
}








.company_name{
  /* width: 50%; */
  height: 30%;
  /* font-size: 50px; */
  margin: 0px auto;
  
  /* text-align: center; */
  
}

.item_content{
  height: 70%;
  display: flex;
  /* background-color: #F8A503; */
}

.item_image{
  width: 15%;
  margin: 20px 10px;
  /* background-color: palegoldenrod; */
  text-align: center;
  
  /* width: 150px; */
  /* height: 100px;  */
}

#result_Image{
  height: 90%;
  
}


.item_body{
  width: 70%;
  font-size: 22px;
  /* background-color: palegreen; */
  
}

.item_body > p {
  width: 100%;
  margin-bottom: 10px;
}

#result_ItemUrl{
  text-decoration: none;
}

.hidden{
  display: none;
}

.item_stock_judge{
  width: 15%;
  display: flex;
  align-items: center;
  font-size: 30px;
  /* background-color: paleturquoise; */
}

.judge_exist{
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 20px;
  color: #ffffff;

  background-color: #A8D93D;
}

.judge_none{
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 20px;
  color: #ffffff;

  background-color: #ea352d;
}











/* item new,show(サインアウト)--------------------------------------------- */

.intro_content{
  /* display: flex; */
  padding-bottom: 500px;
  background-color: #E9EEF6;;
}

.intro_main{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  
}

.explain{
  width: 70%;
  text-align: center;
}

.explain_title{
  width: 30%;
  margin: 100px auto 100px auto;
  padding: 5px 0;
  border-radius: 10px;
  font-size: 35px;
  font-weight: bold;
  color: #ffffff;
  background-color: #11376B;
}

.explain_list{
  font-size: 35px;
  margin-bottom: 100px;
}

.explain_list_title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 30px 0;
  
}

.number{
  padding: 0px 18px;
  /* margin: 0px 20px; */
  color: #ffffff;
  background-color: #11376B;
}

.service_title{
  padding: 0 20px;
  background-color: #ffffff;
  box-shadow: 10px 10px 15px -5px gray;
}

.explain_content{
  display: flex;
  /* text-align: center; */
  height: 300px;
  /* box-shadow: 10px 10px 15px -15px; */
  
}

.explain_list_word{
  width: 50%;
  /* height: 250px; */
  font-size: 30px;
  display: flex;
  text-align: center;
  background-color: #ffffff;
  /* color: #eeeeee; */
}

.explain_list_word > p{
  margin: auto;
}


.explain_list_image{
  width: 50%;
  /* height: 300px; */
  display: flex;
  align-items: center;
  justify-content: center;
}


.back_color_white{
  background-color: #ffffff;
  border-left: 1px solid #eeeeee;
}

.back_color_blue{
  background-color: #D8F5FF;
}



.image1{
  height: 60%;
  /* width: 50%; */
  margin: 0 10px;
}

.image2{
  height: 90%;

}


.image3{
  height: 100%;

}

.intro_sub{
  display: flex;
  justify-content: center;
}

.sites{
  margin: 100px 0px;
  border: 3px solid #11376B;
  border-radius: 10px;
  background-color: #ffffff;
  width: 70%;
  text-align: center;
  height: 300px;
  position: relative;
}

.sites_title{
  width: 38%;
  padding: 5px 0;
  border-radius: 10px;
  font-size: 35px;
  font-weight: bold;
  color: #ffffff;
  background-color: #11376B;
  position: absolute;
  top: -33px;
  left: 31%;
}

.site_lists{
  display: flex;
  justify-content: center;
  align-items: center;


}

.site_list{
  margin: 80px 0px;
}

.site_logo{
  /* background-color: #eeeeee; */
  /* border: 1px solid #11376B; */
  width: 300px;
  padding: 20px;
  border-radius: 10px;
}




.intro_user_register{
  display: flex;
  justify-content: center;
  font-size: 40px;
  /* margin-bottom: 200px; */
}

.user_register{
  padding: 50px;
  border-radius: 10px;
  /* background-color: #7AA5D2; */
}

.user_register_btn{
  text-align: center;
  margin-top: 100px;
}


.register_btn{
  text-decoration: none;
  background-color: #ea352d;
  color: #ffffff;
  padding: 50px;
  border-radius: 10px;
}

.item_show_footer{
  margin-top: 500px;
}
