
/* 実行環境 */
.item{
  width: 70%;
  height: 300px;
  background-color: azure;
  border: 1px solid #000000;
  border-radius: 15px;

  margin: 50px;
  padding: 10px;

}

.company_name{
  /* width: 50%; */
  font-size: 50px;
  margin: 0px auto;
  
  /* text-align: center; */
  
}



.item_content{
  display: flex;
}

.item_image{
  margin: 20px;
  
  width: 150px;
  /* height: 100px;  */
}


.item_body{
  width: 80%;
  font-size: 20px;
  
}

.item_body > p {
  margin-bottom: 10px;
}

#result_ItemUrl{
  font-size: 12px;
}



/* 開発環境のみ  ーーーーーーーーーーーーーーーーーーーーーーーーーーー */

.item_content{
  background-color: blanchedalmond;
}

.item_image{
  background-color: red;
}
.item_body{
  background-color: orange;
}
