<%= render "shared/header" %>

<div>

  <% @items.each do |item| %>
    <% if current_user.id == item.user.id %> 
      <div class="register_content">
        <div class="register_user_name">
          <%= item.user.name %>
        </div>
        <div class="register_item_name">
          <%= item.name %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


