<%= render "shared/header" %>

<h1>Items#new</h1>
<div class="container">
  <section>
    <form action="#" id="search_form">
      <input type="text" name="word">
      <input type="submit" value="検索">
    </form>
    <p id = "result_PartNumber"></p>
    <p id = "result_Stock"></p>
  </section>
</div>