<%= render "shared/header" %>

<div class="container">
  <section>
    <p>
    「正式品番」を入力してください（半角のみ、完全一致検索）
    </p>
    <form action="#" id="search_form">
      <input type="text" name="word">
      <input type="submit" value="検索">
    </form>
  </section>
  <div class="item">

    <div class="company_name">
      <%# <p>Mouser</p> %>
      <img src="https://www.mouser.jp/images/mouser-reg-logo-trim.png?nosprite">
    </div>

    <div class="item_content">
      <div class="item_image">
        <img src="" id = "result_image">
      </div>
      <div class="item_body">
        <p id = "result_PartNumber">正式品番：</p>
        <p id = "result_Manufacturer">メーカー：</p>
        <p id = "result_Stock">在庫数量：</p>
        <p id = "result_price">単価：</p>
        <p>
        Mouser_URL：<a href="#" target="_blank" id = "result_ItemUrl"></a>
        </p>
        
        
      </div>
    </div>

  </div>
</div>