

/* ユーザー情報  編集ーーーーーーーーーーーーーーーーーーーーーーーーーーー */

.mypage_user_edit{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.user_edit_title{
  font-size: 50px;
  margin: 50px 0px;
}




.user_edit_btn{
  padding: 10px;
  font-size: 20px;
  color: #eeeeee;
  background-color: #7AA5D2;
  border-radius: 5px;
  text-decoration: none;
}














/* お気に入り一覧ーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

.mypage_contents{
  padding-bottom: 300px;
}
.mypage_content{
  text-align: center;
}

.mypage_favorits_title{
}

h1 {
  font-size: 50px;
  
}

.mypage_favorites{
  /* margin: 0 auto; */
}

.mypage_favorite{
  width: 80%;
  height: 100px;
  margin: 0px auto;
  margin-top: 50px;
  /* padding: 10px 10px; */
  border: 1px solid;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 32px;
}

.mypage_favorite_left{
  display: flex;
  width: 90%;
  height: 100%;
}

.mypage_favorite_right{
  /* display: block; */
  /* align-items: center; */
  /* justify-content: center; */
  /* vertical-align: middle; */
  margin: 5px 0;
  
  font-size: 20px;
  width: 10%;
  height: 80%;
  
}
.mypage_favorite_right > .judge_exist{
  display: block;
  
}

.judge_time{
  font-size: 12px;
  margin-top: 4px;
}

/* .item_stock_judge{
  width: 15%;
  display: flex;
  align-items: center;
  background-color: paleturquoise;
} */

.mypage_favorite_info{
  width: 28%;
  display: flex;
  align-items: center;
  margin: 0 35px;
}

/* .favorite_created{
  font-size: 20px;
} */





.favorite_no_date{
  width: 65%;
  font-size: 30px;
  margin: 30px auto;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
}

.mypage_favorite_chart > button{
  margin-top: 5px;
  margin-bottom: 10px;
}

.charts{
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}


