

/* ユーザー情報  編集ーーーーーーーーーーーーーーーーーーーーーーーーーーー */

.mypage_user_edit{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.user_edit_title{
  font-size: 50px;
  margin: 50px 0px;
}




.user_edit_btn{
  padding: 10px;
  font-size: 20px;
  color: #eeeeee;
  background-color: #7AA5D2;
  border-radius: 5px;
  text-decoration: none;
}














/* お気に入り一覧ーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

.mypage_contents{
  padding-bottom: 600px;
}
.mypage_content{
  text-align: center;
}

.mypage_favorits_title{
}

h1 {
  font-size: 50px;
  
}

.mypage_favorites{
  margin: 0 auto;
}

.mypage_favorite{
  width: 65%;
  margin: 50px auto;
  padding: 10px 30px;
  border: 1px solid;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.mypage_favorite_info{
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.favorite_created{
  font-size: 20px;
}





.favorite_no_date{
  font-size: 30px;
  margin: 30px;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
}






.mypage_footer{
  margin-top: 500px;
  background-color: #7AA5D2;
}
